* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*colors*/
html {
  --primary: #1a283f;
  --secondary: #e783a9;
  --accent: #ededed;
}

main {
  text-wrap: pretty;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/*font for text*/
p,
h1,
h2,
h3,
h4,
li {
  font-family: "Roboto", system-ui;
  color: var(--primary);
}

.bund-head p {
  color: white;
}

p {
  line-height: 1.6;
}

h1 {
  font-size: 60px;
}

body {
  background-color: var(--accent);
}

header {
  background-color: var(--primary);
}

.top-head {
  background-color: #d8e0e8;
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.top-head div {
  display: flex;
  gap: 10px;
}
.bund-head {
  background-color: #1a283f;
  color: #d8e0e8;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.bund-head div {
  display: flex;
}
.bund-head div p {
  padding: 0 40px;
  place-self: center;
}

@media (min-width: 700px) {
  .top-head {
    background-color: #d8e0e8;
    color: var(--primary);
    display: flex;
    justify-content: space-between;
  }

  .top-head div {
    display: flex;
    gap: 10px;
  }
}

/* Style the list */
ul.breadcrumb {
  padding: 20px 16px;
  list-style: none;
  font-weight: bold;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #1a283f;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #1a283f;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #e783a9;
  text-decoration: none;
}
#open {
  font-weight: lighter;
}
